<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{% block title %}{% endblock %}</title>
  <meta name="description" content="">
  <meta name="fragment" content="!"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta id="facebook-app-id" data-app-id="175372969676193">
  <meta id="google-app-id"
        data-key-api="YOUR_KEY_API"
        data-clientid="YOUR_CLIENT_ID"
        data-scope="openid email"
        data-redirecturi="postmessage"
        data-accesstype="offline"
        data-cookiepolicy="single_host_origin"
        data-approvalprompt="force">

  <!-- Styles -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,300,700"
        rel="stylesheet" type="text/css">
  <link rel="stylesheet"
        href="{{ url_for('static', filename='components/css/normalize.css') }}">
  <link rel="stylesheet"
        href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
  <link rel="stylesheet"
        href="{{ url_for('static', filename='css/bs.css') }}">
  <link rel="stylesheet"
        href="//fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet"
        href="//code.getmdl.io/1.3.0/material.indigo-pink.min.css">
  <link rel="stylesheet"
        href="{{ url_for('static', filename='css/app.css') }}">
  <!-- Material Design Lite -->
  <script defer src="{{ url_for('static', filename='js/material.min.js') }}"></script>

</head>
<body>
{% include 'header.html' %}

<section>
  <div class="container pt-4 pb-4">
    {% block content %}{% endblock %}
  </div>
</section>

{% include 'footer.html' %}

<!-- AngularJS -->
<script
    src="{{ url_for('static', filename='components/angular.min.js') }}"></script>
<!-- AngularJS - Resource -->
<script
    src="{{ url_for('static', filename='components/angular-resource.min.js') }}"></script>
<!-- AngularJS - Base64 -->
<script
    src="{{ url_for('static', filename='components/angular-base64/angular-base64.min.js') }}"></script>
<!-- jQuery -->
<script src="{{ url_for('static', filename='js/jq.js') }}"></script>
<!-- AngularJS upload files -->
<script
    src="{{ url_for('static', filename='js/angular-file-upload.min.js') }}"></script>
<!-- PopperJS -->
<script
    src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
    integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
    crossorigin="anonymous"></script>
<!-- Bootstrap -->
<script
    src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
    integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
    crossorigin="anonymous"></script>
<!-- App -->
<script src="{{ url_for('static', filename='js/app.js') }}"></script>

</body>
</html>
