{% extends 'default.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="row">

<!-- TODO: Add new car in catalog -->
    <div class="add-car mt-5 mb-4 col-sm-6 col-lg-9">
      <h4 class="h4 mb-3">Add a new car</h4>
    {% include 'flash.html' %}
      <form id="add-car" class="pt-3" method="post" action="{{ url_for('new_car') }}">
        <input type="hidden" name="csrf_token" value="{{ csrf }}">
        <div class="form-group">
          <select class="form-control" id="brand" name="brand">
            <option value="" disabled selected>brand</option>
            {% for brand in brands %}
            <option value="{{brand.id}}">{{brand.name}}</option>
            {% endfor %}
          </select>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" id="title"
                 name="title" placeholder="title">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" id="model"
                 name="model" placeholder="model">
        </div>
        <div class="form-group">
          <textarea class="form-control" id="description" rows="4"
                    placeholder="description" name="description"></textarea>
        </div>
        <div class="input-group">
          <span class="input-group-addon">$</span>
          <input type="number" class="form-control" placeholder="price"
                 aria-label="Amount (to the nearest dollar)" name="price">
          <span class="input-group-addon">.00</span>
        </div>
        <div class="mb-5 pt-3">
          <button type="submit" class="mdl-button mdl-js-button mdl-js-ripple-effect">
            add new car
          </button>
        </div>
      </form>
    </div>
</div>
{% endblock %}